{% extends "layout.html" %}
{% block content %}
<head>
<title>Restaurant Roulette</title>
</head>
	<body>
	<h1>Restaurant Roulette</h1>
	<form action="/search" method="get" id="search-form">

	<p class="heading">
	<label for="term">Search:</label>
	<input type="text" id="term" name="term">
	</p>

	<p class="heading">
	<label for="location">Location:</label> 
	<input type="text" id="location" name="location">
	<button type="submit">Search</button>
	</p>

	</form>
	<div id="results">
	<!-- Search results will be displayed here -->
	</div>

	<script>
// Handling form submission and displaying results
const form = document.getElementById('search-form'); // Modifies 'search-form' part of HTML form
form.addEventListener('submit', async function(event) {
	event.preventDefault(); // Prevents page refresh
	const formData = new FormData(form);
	const searchParams = new URLSearchParams(formData).toString();
	const response = await fetch(`/search?${searchParams}`);
	const data = await response.json();
	displayResults(data);
	});

function displayResults(data) {
	const resultsDiv = document.getElementById('results'); // Modifies 'results' part of HTML form
	resultsDiv.innerHTML = '';

	// If we are unable to grab the name or there is an issue with data, print error message
	if (data.error || !data.name) {
		resultsDiv.textContent = 'No restaurants found.';
	} else {
		const ul = document.createElement('ul');
		const li = document.createElement('li');

		// Name field
		const nameText = document.createTextNode(`Name: ${data.name}`);
		li.appendChild(nameText);

		// Line break
		const br0 = document.createElement('br');
		li.appendChild(br0);

		// Rating field
		const ratingText = document.createTextNode(`Rating: ${data.rating}`);
		li.appendChild(ratingText);

		// Line break
		const br1 = document.createElement('br');
		li.appendChild(br1);

		// Description field
		const descriptionText = document.createTextNode(`Description: ${data.description}`);
		li.appendChild(descriptionText);

		// Line break
		const br2 = document.createElement('br');
		li.appendChild(br2);

		// Address field
		const addressText = document.createTextNode(`Address: ${data.address}`);
		li.appendChild(addressText);

		// Image field
		ul.appendChild(li);
		if (data.image_url) {
		    const img = document.createElement('img');
		    img.src = data.image_url;
		    img.alt = `${data.name} Logo`;
		    img.style.width = '400px';
		    li.appendChild(document.createElement('br')); // Add a line break between text and image
		    li.appendChild(img);
		}

		const resultsDiv = document.getElementById('results');
		resultsDiv.innerHTML = '';
		resultsDiv.appendChild(ul);

	}
}

	</script>
	</body>
</html>
{% endblock %}
